.music-body{
    background-color: #333341 ;
    border-radius: 20px;
}
#music-list{
    overflow-y: scroll;
    height: 300px
}
/* tablet devices */
@media only screen and (min-width:688px )
{
#music-list p:hover {
    background-color: #ED2833;
    margin-right: 50px;
    margin-left: 50px;
}
}